body {
  margin: 0;
  font-family: 'Shantell Sans', cursive;

}

header {
  background-color: black;
  color: white;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  align-items: center;
}

.fa-light {
	color: white;
}

.textLogo {
  margin: 0;
}

.fa-solid {
  color: white; 
}

.menuBtn span {
	background-color: white;
  display: block;
  margin-bottom: 4px;
	height: 4px;
	width: 25px;
  border-radius: 5px;
}

.menuBtn {
	height: 35px;
	width: 35px;
  background: transparent;
  border: 0;
}

.container {
  outline: 2px solid black;
  margin: auto;
  height: 70vh;
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(253, 250, 247);
}

.category {
  text-align: center;
}

hr {
  width: 50%;
  background-color: black;
}

.movieContainer1 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  max-width: 500px;
}

.number1 {
  text-align: center;
  font-weight: 900;
  font-size: 1.5rem;
}

.movieInfo {
  position: relative;
}

.movieInfo h3 {
  margin-top: 0;
}

#arrow {
  color: white;
}

.movieInfo button {
  height: 25px;
  position: absolute;
  right: 10px;
  background-color: red;
  color: white;
  font-weight: 700;
}

.movieContainer2 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  margin-top: 20px;
  max-width: 500px;

}

.number2 {
  text-align: center;
  font-weight: 900;
  font-size: 1.5rem;
}

.movieInfo2 {
  position: relative;
}

.movieInfo2 h3 {
  margin-top: 0;
}

.movieInfo2 button {
  height: 25px;
  position: absolute;
  right: 10px;
  background-color: red;
  color: white;
  font-weight: 700;
}

.movieContainer3 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  margin-top: 20px;
  max-width: 500px;

}

.number3 {
  text-align: center;
  font-weight: 900;
  font-size: 1.5rem;
}

.movieInfo3 {
  position: relative;
}

.movieInfo3 h3 {
  margin-top: 0;
}

.movieInfo3 button {
  height: 25px;
  position: absolute;
  right: 10px;
  background-color: red;
  color: white;
  font-weight: 700;
}

.movieContainer4 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  margin-top: 20px;
  max-width: 500px;

}

.number4 {
  text-align: center;
  font-weight: 900;
  font-size: 1.5rem;
}

.movieInfo4 {
  position: relative;
}

.movieInfo4 h3 {
  margin-top: 0;
}

.movieInfo4 button {
  height: 25px;
  position: absolute;
  right: 10px;
  background-color: red;
  color: white;
  font-weight: 700;
}